
#controls {
	height:70px;
	padding:30px 0 50px 30px;
	background:#333 url(../img/h300.png) repeat-x;	
	width:670px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.column {
	width:140px;		
	float:left;
	margin-right:20px;
}
