
.forward, .backward {
	float:left;
	margin-top:90px;
}

.images {
	position:relative;	
	height:200px;
	background-color:#000;
	width:500px;
	float:left;
	margin:20px;	
}

.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin:15px;
	color:#fff;
}

.navi {
	clear:both;
	width:550px;
	text-align:center;
}

.current {
	font-weight:bold;		
}

.disabled {
	visibility:hidden;		
}
