
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	background:#FFFFFF url(/img/global/gradient/h150.png) repeat scroll 0;
	height:80px;
	padding:10px 0 10px 20px;
	width:560px;
	border:1px solid #ddd;
}

/* accordion header */
#accordion img {
	float:left;
	margin-right:10px;
	cursor:pointer;
	opacity:0.5;
	filter: alpha(opacity=50);
}

/* currently active header */
#accordion img.current {
	cursor:default;
	opacity:1;
	filter: alpha(opacity=100);
}

/* 
	accordion pane. should initially have zero width and display:none.
	the first pane should override these with inline style
*/
#accordion div {
	width:0px;
	float:left;	
	display:none;		
	margin-right:10px;
}

/* content inside a pane should have fixed width */
#accordion div h3 {
	color:#444;
	margin:0 0 -10px 0;
	width:190px;
	font-size:15px;	
}
	
#accordion div p {	
	font-size:11px;
	width:190px;
}
