
/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(img/white.png);

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(img/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:28px;
    width:28px;
}

/* black version of the overlay. simply uses a different background image */
div.apple_overlay.black {
background-image:url(img/transparent.png);
color:#fff;
}

div.apple_overlay h2 {
margin:10px 0 -9px 0;
font-weight:bold;
font-size:14px;
}

div.black h2 {
color:#fff;
}

#apple {
margin-top:10px;
text-align:center;
}

#apple img {
background-color:#fff;
padding:2px;
border:1px solid #ccc;
margin:2px 5px;
cursor:pointer;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}