
#products img {
	margin:0 20px 10px 0;	
	cursor:pointer;	
}

.description {
	background-color:#edecbc;
	border:1px solid #999;	
	width:450px;
	min-height:140px;
	display:none;
	margin-top:17px;
	-moz-border-radius:4px;
	padding:0 20px;
}

.description .arrow {
	width:34px;
	height:34px;
	background:transparent url(../img/tooltip/yellow.png) repeat scroll 0 -68px;
	margin-top:-28px;
	margin-left:36px;
	font-size:1px;
	position:relative;
}

#commercial .arrow {
	margin-left:210px;	
}

#multidomain .arrow {
	margin-left:385px;	
}
