
/* tooltip styling. uses a background image (the yellow arrow) */
div.tooltip {
	background:transparent url(../img/tooltip/yellow-full.png) repeat scroll 0;
	display:none;
	height:107px;
	padding:15px;
	width:178px;
	font-size:14px;
}

/* tooltip title element (h3) */
div.tooltip h3 {
	margin:0 0 -10px 0;
	font-size:16px;
}
